html {
    font-size: calc(1em + 1vw);
}

h1 {
    text-align: center;
}

header{
    text-decoration:dashed;
}

header nav ul {
    margin: 1rem 0 0 0; /* Legger til margen (margin) til toppen av navigasjonsmenyen. */
    padding: 0; /* Nullstiller padding (avstand) for å fjerne overflødig plass. */
    text-align: center;
}

nav a {
    text-decoration: none; /* Fjerner understrekingen under lenkene. */
    color: #000; 
    padding: 1rem; /* Legger til padding (avstand) rundt lenkene. */
    display: inline-block; /* Gjør lenkene til blokk-elementer som er side om side. */
}

body {
    background-color: gray; /*selv om prototypen hadde hvitt bakgrunnsfarge har jeg bestemt meg for*/
}

article {
    max-width: 400px; /* Setter maksimal bredde for artiklene til 400 piksler. */
    min-width: 250px; /* Setter minimal bredde for artiklene til 250 piksler. */
    width: 100%; /* Gjør artiklene 100% brede for responsivt design. */
    margin: 1rem auto; /* Senterjusterer artiklene horisontalt ved å bruke margin: auto. */
    background-color: #fff;
}

/* Styling for bilder i artiklene */
main section article img {
    width: 100%; /* Gjør bildene 100% brede for å tilpasse seg foreldrelementet. */
}

footer {
    /*padding: 0;
    margin: 0;*/
    text-align: center;
    text-decoration: overline;
}

@media only screen and (min-width: 600px) {

    /* Styling for elementer innenfor <span> -elementer i headeren. */
    header nav span {
        float: left; /* Elementene flyter til venstre. */
    }

    /* Styling for <ul> -elementer innenfor headeren. */
    header nav ul {
        float: right; /* Elementene flyter til høyre. */
        margin: 0; /* Nuller ut marginen for <ul> -elementene. */
    }

    /* Styling for <li> -elementer innenfor <ul> -elementene i headeren. */
    header nav ul li {
        display: inline-block; /* Elementene vises som blokker ved siden av hverandre. */
    }

    /* Styling for <nav> -elementet innenfor headeren. */
    header nav {
        overflow: hidden; /* Hindrer at elementene "lekker" ut av <nav> -elementet. */
    }

    /* Styling for <section> -elementet innenfor <main>. */
    main section {
        overflow: hidden; /* Hindrer at elementene "lekker" ut av <section> -elementet. */
        max-width: 1260px; /* Setter maksimal bredde for <section> -elementet. */
        width: 100%; /* Fyller hele bredden av foreldreelementet. */
        margin: 0 auto; /* Sentrerer elementet horisontalt. */
    }
    
    /* Styling for <article> -elementer innenfor <main>. */
    main article {
        float: left; /* Elementene flyter til venstre. */
        margin: 10px; /* Setter margin rundt elementene til 10px. */
    }