* {
    box-sizing: border-box;
}

html {
    font-size: calc(1em + 1vw);
}

body {
    background-color: gray; 
}

/*selv om prototypen hadde hvitt bakgrunnsfarge har jeg bestemt meg for å bruke grå basert på tilbakemeldinger jeg fikk i bruker testing*/


header nav {
    margin: 1rem 0 0 0; 
    padding: 0; /
}

h1 {
    font-family: 'Birthstone Bounce';
}
h1, a{
    text-align: center;
    text-decoration: none;
    color: #000;
}

nav a {
    text-decoration: none;
    color: #000; 
    /*padding: 1rem; /* Legger til padding (avstand) rundt lenkene. */
    display: inline-block; /*lenkene til blokk-elementer*/
}


ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: disc;
}

/*main, section, article, ol, li {
    list-style-type: disc ;
}*/


/*#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}*/

article {
    max-width: 400px; 
    min-width: 250px;
    width: 100%; /*responsivt design. */
    margin: 1rem auto; 

}

main section article img {
    width: 100%;
}

#produktlink, a:visited{ /*gjør synlig hvilken linker en kan klikke på, kan endres*/
    display: block;
    color:lightblue; 
}

footer {
    padding: 50;
    margin: 100;
    text-align: center;
    /*word-spacing: 500px;*/
}

span {
    margin: 500px;
}

@media only screen and (min-width: 600px) {

    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    header nav {
        float: none; /* Elementene flyter til venstre. */
    }

    header nav ul {
        float: none; /* Elementene flyter til høyre. */
        margin: 0; 
    }

    header nav ul li {
        display: inline-block; 
    }

    header nav {
        overflow: hidden;
    }

    main section {
        overflow: hidden; 
        max-width: 1260px; 
        width: 100%;
        margin: 0 auto;
    }
    
    main article {
        float: left; 
        margin: 10px;
    }
}